<h1>Welcome back!</h1>

<ul class="nav nav-tabs">
	<li role="presentation" class="active"> <%= link_to "1st tab", "#" %> </li>
	<li role="presentation"> <%= link_to "2nd tab", "#" %> </li>
	<li role="presentation"> <%= link_to "3rd tab", "#" %> </li>
</ul>